name: verdict-backend

on:
  push:
    paths:
      - "verdict-backend/**"
      - "mock-services/**"
      - "shared/**"
      - ".github/workflows/verdict-backend.yaml"
  pull_request:
    paths:
      - "verdict-backend/**"
      - "mock-services/**"
      - "shared/**"
      - ".github/workflows/verdict-backend.yaml"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: cachix/install-nix-action@v31

      - uses: cachix/cachix-action@v16
        with:
          name: devenv

      - name: Install devenv
        run: nix profile install nixpkgs#devenv

      - name: Run tests
        run: devenv test
        working-directory: verdict-backend
